.Layout-top {
    /* background-image: url("../../static/tile2.PNG"); */
    background-size: 100%;
    background-color: var(--primary--hil);

}

.Layout-body {
    max-width: 960px;

    /* background-image: url("../../static/tile2.PNG"); */
    padding: var(--m) var(--m);
    margin: auto;
    background-color: var(--primary);

}