.NavBar-container {
    padding: 60px;
    justify-content: space-between;
    /* background-color: var(--primary); */
    /* background: var(--primary--hil); */
    /* background: linear-gradient(90deg, rgba(14,11,22,1) 28%,  rgba(223,248,235,1) 99%); */
}

.NavBar-title {
    color: var(--primary);
    font-size: 40px;
    font-family: "Syncopate";
    justify-content: center;
    text-align: center;
    padding: 20px;
    text-decoration: none;

}

/* TODO: justify links right */

.NavBar-linkContainer {
    /* margin-left: var(--l); */
    font-family: "DM Sans";
    font-size: 22px;
    text-align: center;
    padding: 5px
}

.NavBar-link,
.NavBar-link:visited {
    color: var(--primary);
    opacity: 0.8;
    text-decoration: none;
}

.NavBar-link:hover {
    opacity: 1;
}

.NavBar-link + .NavBar-link {
    margin-left: var(--l);
}
  