.App-container {
    max-width: 960px;
    padding: var(--m) var(--m);
    margin: auto;
    background-color: var(--primary);
}
  

.App-top {
    background-image: url("../../imgs/tile2.png");
    background-size: 100%;

}